* {
    font-family: monospace;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 16px;
}

button {
    border-style: none;
    border: 2px solid grey;
    background-color: lightgrey;
    padding: 20px;
    font-size: 20px;
}

p {
    color: white;
    background-color: darkgrey;
    font-size: 20px;
    padding: 20px;
}

button:hover {
    background-color: darkgrey;
}

button:active {
    transform: scale(0.9);
}

#container-main {
    display: flex;
}

#container-sidebar {
    background-color: grey;
    box-sizing: border-box;
    text-align: center;
    gap: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 540px;
    width: 240px;
    padding: 30px;
}

#container-board {
    background-color: grey;
    box-sizing: border-box;
    height: 540px;
    width: 540px;
    padding: 30px;
}

.row {
    display: flex;
}

.column {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0;
}

.column {
    background-color: white;
}

.column:hover {
    background-color: lightgrey;
}